<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="venta">
            <h2><span jhiTranslate="ventawebApp.venta.detail.title">Venta</span> {{venta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ventawebApp.venta.monto">Monto</span></dt>
                <dd>
                    <span>{{venta.monto}}</span>
                </dd>
                <dt><span jhiTranslate="ventawebApp.venta.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="venta.cliente">
                        <a [routerLink]="['/cliente', venta.cliente?.id, 'view']">{{venta.cliente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ventawebApp.venta.tarjeta">Tarjeta</span></dt>
                <dd>
                    <div *ngIf="venta.tarjeta">
                        <a [routerLink]="['/tarjeta', venta.tarjeta?.id, 'view']">{{venta.tarjeta?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/venta', venta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
